i 
  transition: all 0.3s ease-in-out
.backdrop-configuration
  background-color: #fffffff2
  z-index: 99999
.configuration-close
  right: 1rem
  top: 1rem
.configuration-trigger
  left: 1rem
  top: 1rem
  z-index: 2  
  i
    opacity: 0.35
    &:hover 
      opacity: 1

button.configuration-layout     
  width: 6rem  
.configuration-image 
  img.image 
    width: auto
    height: 4rem
.add-paragraph-right
  position: absolute
  right: 0px
  top: 0px
  bottom: 0px  
  width: 2rem   
  cursor: pointer 
  &:hover
    background-color: #18f5bf0f
    i 
      opacity: 1
  i 
    opacity: 0.35  
.add-paragraph-left
  position: absolute
  left: 0px
  top: 0px
  bottom: 0px  
  width: 2rem   
  cursor: pointer 
  &:hover
    background-color: #18f5bf0f
    i 
      opacity: 1
  i 
    opacity: 0.35    
.delete-paragraph
  position: absolute
  right: 0px
  left: 0px
  top: 0px  
  height: 2rem   
  cursor: pointer 
  &:hover
    background-color: #18f5bf0f
    i 
      opacity: 1
  i 
    opacity: 0.35          
.ion-ios-arrow-right:before 
  vertical-align: bottom  

  